.body-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.body-container > img {
  /* border-radius: 8px; */
  width: 200px;
  padding-right: 20px;
  overflow: hidden;
}

.body__content {
  width: 450px;
  line-height: 1.5;
}

.portfolio-btn {
  background-color: #c42aff;
  border: 0;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 40px;
  color: white;
  border-radius: 4px;
  transition: all 250ms ease;
}

.portfolio-btn:hover {
  background-color: rgba(196, 42, 255, 0.75);
}
