.portfolio-icons {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.portfolio-icons > a > img {
  margin: 0 10px;
  width: 50px;
}

.portfolio__project {
  padding: 20px;
  display: inline-block;
}
.portfolio__projects {
  text-align: center;
}
