a {
  text-decoration: none;
  color: black;
}
.project {
  width: fit-content;
}

.project__top {
  background-color: purple;
  width: 320px;
  text-align: center;
  padding: 15px;
}

.project__bottom > img {
  max-width: 350px;
}
